[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
typing-extensions = "*"
requests = "*"
pycrypto = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
sqlalchemy = "*"
mysql = "*"
pillow = "*"
boto3 = "*"
mysql-connector = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
