[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
boto3 = "*"
mysql-connector = "*"
uvicorn = "*"
pycryptodome = "*"
requests = "*"
pillow = "*"
passlib = "*"
python-jose = "*"
pydantic = {version = "*", extras = ["dotenv"]}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
